<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block subtitle %}{% endblock %} Playgorund</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      header {
        background-color: black;
        color: white;
        padding: 0.5rem 0;
        margin-bottom: 2rem;
      }

      aside a {
        display: block;
        text-decoration: none;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

      aside a:hover {
        text-decoration: none;
      }
    </style>
  </head>
  <body>

    <header>
      <div class="container">
        <div class="row">
          <h1 class="col-md">
            Audiometria
          <small class="badge badge-light"></small>
          </h1>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <aside class="col-md-3">
          <nav>
            <a href="{% url 'home' %}">Visualizar</a>
            <a href="{% url 'new' %}">Nova audiometria</a>
          </nav>
        </aside>

        <main class="col-md-9">
          {% block content %}{% endblock %}
        </main>

      </div><!-- end .row -->
    </div><!-- end .container -->

  </body>
</html>
