{% extends 'core/base.html' %}

{% block content %}

  {% if audiometrias %}
  <h2>Audiometrias cadastradas</h2>
  <ul>
    {% for audio in audiometrias %}
    <li>
      <a href="{% url 'edit' audio.pk %}">{{ audio }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

{% endblock %}


