{% extends 'core/base.html' %}

{% block subtitle %}Nova audiometria |{% endblock %}

{% block content %}

  <form class="form-group" method="POST">
    <h2>Nova audiometria</h2>
    {% csrf_token %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% for error in field.errors %}
      {{ error|escape }}
      {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Salvar</button>
  </form>

{% endblock %}


